src/main/mule/salesforce-accounts-sapi-main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
	<apikit:config name="test-account-sapi-config"
		api="resource::e11acdb6-24e5-4711-91ef-3d2c85873242:test-account-sapi:1.0.0:raml:zip:test-account-sapi.raml"
		outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" />
	<flow name="test-account-sapi-main">
		<http:listener path="/api/*"
			config-ref="main_http-listener">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="test-account-sapi-config" />
		<error-handler ref="globalErrorHandler" />
	</flow>
	<flow name="test-account-sapi-console">
		<http:listener path="/console/*"
			config-ref="main_http-listener">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="test-account-sapi-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="get:\accounts:test-account-sapi-config">
		<flow-ref doc:name="Get Accounts "
			doc:id="fa9ef02e-6d99-4846-8d2b-fe9b17e7d397"
			name="get-accounts-from-salesforce" />
	</flow>
	<flow
		name="post:\accounts:application\json:test-account-sapi-config">
		<flow-ref doc:name="Post Account"
			doc:id="39c51df3-7643-42c5-9dca-7d335ed7d2e4" name="post-account" />
	</flow>
	<flow name="put:\accounts\(id):application\json:test-account-sapi-config">
        <flow-ref doc:name="Update Account" doc:id="0d444950-7a5d-4ec8-a157-ec07680a2798" name="update-accounts-by-id"/>
    </flow>
    <flow name="get:\accounts\(id):test-account-sapi-config">
        <flow-ref doc:name="Get Account By id" doc:id="99a5c652-a3e6-4562-94f5-9458c982b867" name="get-accounts-by-id" />
    </flow>
	<flow name="delete:\accounts\(id):test-account-sapi-config">
		<flow-ref doc:name="Delete Account" doc:id="2e8f6253-3306-4cb7-9a6a-a13260b81af0" name="delete-accounts-by-id"/>
    </flow>
</mule>
